main {
  height: calc(100vh - 120px);
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

form {
  background-color: #2f4f6e;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 3px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 5%;
  background-color: #fff;
  border-radius: 3px;
  width: 300px;
  height: 400px;
}

/* section div {
  display: flex;
  flex-direction: column;
} */

h2 {
  margin: 0 0 10px 0;
  color: #2f4f6e;
  font-size: 32px;
}

label {
  color: #17657a;
  margin: 5px 0;
  font-weight: 600;
}

input {
  outline: none;
  border-radius: 2px;
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #17657a;
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 3px;
  margin-top: auto;
  font-size: 18px;
}

button:hover {
  background-color: #66aeed;
}

@media (min-width: 1450px) {
  main {
    height: calc(100vh - 120px);
    width: 905px;
  }

  section {
    margin: 0 10px;
    padding: 5%;
    width: 390px;
    height: 430px;
  }
}
